body#main {
    background: grey;
    padding:0px;
    margin:0px;
}

#twitch-box {
    background: lightgrey;
}
.stream {
    margin: 5px 5px 5px 5px;
    border-style: solid;
    border-color: cadetblue;
    color: cadetblue;
    padding: 15px 0px 15px 15px;
    background: black;
    min-height: 15vh;
}
.stream>h4 {
    margin-bottom:5px;
    font-size: 1.7em;
}
h1#headline {
    font-family: 'Modak', cursive;
    font-size: 3.5em;
    color: cadetblue;
    color: cadetblue;
    -webkit-text-stroke: 2px darkcyan;
}
img {
    margin-right: 10px;
}
p {
    display:inline;
    padding: 0px;
}
